# Project 4
## Group: P2eta
## Members: Paul Rayment, Andrew Peters Roman Formicola

## Q2)

In [4]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score 
import numpy as np
import pandas as pd

# Load Data
data = pd.read_csv("hit-movies.csv")

# Trim Data
data = pd.DataFrame(data)
data.pop("original_title")
data.pop("imdb_id")

data.head()

,in_collection,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Hit
0,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### a)

### b)

### c)

### d)

### e)

### f)

#### i)

In [3]:
print(data)

NameError: name 'data' is not defined

#### ii)

#### iii)