## Project 5

**1)** Group Eta: Roman Formicola

**2) a)**

$P(class=1) = 1/4\\
P(class=2) = 1/2\\
P(class=3) = 1/4\\
|V| = 14\\
\hat{P}(t|c) = (N_{ct} + 1)/(N_{c} + 2)$

**i**)  $P(X_{peony}=T | class=2) = 3/4$

**ii)** $P(X_{crocus}=T|class=2) = 1/2$

**iii)** $P(X_{peony}=T|class=1) = 2/3$

**b)**

$P(t | c) = (count(t, c) + 1)/(count(t) + |v|)$

**i**) $P(X = peony | class=2) = (4+1) / (14+14) = 5/28$

**ii)** $P(X=crocus | class=2) = (1+1)/(14+14) = 2/28 = 1/14$

**iii)** $P(X=peony|class=1) = (1+1)/(8+14) = 2/22 = 1/11$

**c)**

$P(d | class = 1)= P(1)*P(X_{daffodil}=T|class=1)*P(X_{crocus}=T|class=1)*P(X_{daisy}=T|class=1)*P(X_{tulip}=T|class=1)\\
*P(X_{clematis}=T|class=1)*P(X_{peony}=T|class=1) = (1/4)*(1/3)*(1/3)*(1/3)*(2/3)*(2/3)*(2/3) \approx 0.002743$

$P(d | class = 2)= P(2)*P(X_{daffodil}=T|class=2)*P(X_{crocus}=T|class=2)*P(X_{daisy}=T|class=2)*P(X_{tulip}=T|class=2)\\
*P(X_{clematis}=T|class=2)*P(X_{peony}=T|class=2) = (1/2)*(1/2)*(1/2)*(1/4)*(1/4)*(3/4)*(3/4) \approx 0.0043945$

$P(d | class = 3)= P(3)*P(X_{daffodil}=T|class=3)*P(X_{crocus}=T|class=3)*P(X_{daisy}=T|class=3)*P(X_{tulip}=T|class=3)\\
*P(X_{clematis}=T|class=3)*P(X_{peony}=T|class=3) = (1/4)*(1/3)*(1/3)*(2/3)*(2/3)*(1/3)*(1/3)\approx 0.00137174$

Predicted class for document: daffodil crocus daisy tulip clematis peony = 2

**d)**

$P(d|class=1)=P(X=daffodil|class=1)*P(X=crocus|class=1)*P(X=daisy|class=1)*P(X=tulip|class=1)*P(X=clemantis|class=1)*P(X=peony|class=1)=(1/4)*(1/22)*(1/22)*(1/22)*(1/11)*(1/11)*(1/11) \approx 1.76398*10^{-8}$

$P(d|class=2)=P(X=daffodil|class=2)*P(X=crocus|class=2)*P(X=daisy|class=2)*P(X=tulip|class=2)*P(X=clemantis|class=2)*P(X=peony|class=2)=(1/2)*(1/14)*(1/14)*(1/28)*(1/28)*(5/28)*(5/28) \approx 1.03758*10^{-7}$

$P(d|class=3)=P(X=daffodil|class=3)*P(X=crocus|class=3)*P(X=daisy|class=3)*P(X=tulip|class=3)*P(X=clemantis|class=3)*P(X=peony|class=3)=(1/4)*(1/21)*(1/21)*(2/21)*(3/21)*(1/21)*(1/21) \approx 1.74894*10^{-8}$

Predicted class for document: daffodil crocus daisy tulip clematis peony = 2

**3)**

**a)**

In [276]:
import pandas as pd

term_doc_matrix = [[1, 1, 1, 1, 0, 0, 0], [0, 1, 1, 0, 1, 1, 0], [1, 0, 1, 1, 1, 1, 1]]
df = pd.DataFrame(term_doc_matrix, columns=["cat", "bat", "rat", "fat", "mat", "pat", "sat"])
df.style.set_caption("Term Document Matrix")

**b)** Note: I used $Log_{10}(1+tf_{t,d})*Log_{10}(N/df_{t})$  for TF-IDF weights

In [277]:
TF_IDF = [[0.106, 0.053, 0, 0.053, 0, 0, 0], [0, 0.106, 0, 0, 0.053, 0.053, 0], 
          [0.053, 0, 0, 0.053, 0.053, 0.053, 0.1436]]
df = df = pd.DataFrame(TF_IDF, columns=["cat", "bat", "rat", "fat", "mat", "pat", "sat"])
df.style.set_caption("TF-IDF Matrix")

**c)** The term-document pair witht the highest TF-IDF weight is (Doc 3, "sat")

## Part B
### Question 4
### Question 5
### Question 6
#### Part a
    Load Data

In [278]:
from sklearn.feature_extraction.text import CountVectorizer
from itertools import chain
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

from os import listdir
from os.path import isfile, join

# Read Speeches
#listFiles = [f for f in listdir("sotu/files/") if isfile(join("sotu/files/", f))]
listFiles = ["a" + str(i) + ".txt" for i in range(1, 232)]

sotus = []
for fi in listFiles:
    file_path = "sotu/files/%s" % (fi)
    with open(file_path) as f:
        sotus.append(f.read().splitlines())
        f.close()

# Read Party Data
with open("sotu/party.txt") as f:
    speechData= f.read().splitlines()
    f.close()
    
for i in range(len(speechData)):
    party[i] = speechData[i][:1]

#### Part b
    Remove Stopwords

In [279]:
# Create Stop Words list, stopwds
with open("sotu/stopwords.txt") as f:
    stopwds = f.read().splitlines()
    f.close()
    
sotusNoStop = []
# Remove Stop Words from sotus
for speech in range(len(sotus)):
    hold = []
    for word in sotus[speech]:
        
        if not word in stopwds:
            hold.append(word)
        
    sotusNoStop.append(hold)

#### Part c
##### i. Term-Document Matrix

In [280]:
# Which speeches are in the training set
trainIndex = []
for i in range(len(speechData)):
    if not speechData[i][-4:] in ["1962", "1995", "2006", "2014", "2017"]:
        if party[i] == "d" or party[i] == "r":
            trainIndex.append(i)
    
# Which speeches are to be tested
testIndex = []    
for i in range(len(speechData)):
    if speechData[i][-4:] in ["1962", "1995", "2006", "2014", "2017"]:
        testIndex.append(i)
        
trainingComplete = []
for i in trainIndex:
    trainingComplete.append(sotusNoStop[i])
for i in testIndex:
    trainingComplete.append(sotusNoStop[i])
    
for i in range(len(trainingComplete)):
    hold = ""
    for word in trainingComplete[i]:
        hold += word
        hold += " "
    trainingComplete[i] = hold
    
for i in range(len(testComplete)):
    hold = ""
    for word in testComplete[i]:
        hold += word
        hold += " "
    testComplete[i] = hold
        
# Create Count Vectors
vect = CountVectorizer(input='content', max_features=3000)
vects = vect.fit_transform(trainingComplete)

df = pd.DataFrame(vects.toarray(), 
                      index=[speechData[i] for i in trainIndex] + [speechData[i] for i in testIndex], 
                      columns=vect.get_feature_names())

df = df.T
df['Totals'] = df.sum(axis=1)

df = df.T

df = df.sort_values(by='Totals', axis = 1, ascending=False)
df.iloc[:10,:5]

                    government  states  congress  united  people
d, jackson, 1829            58      46        20      23      23
d, jackson, 1830            68      78        27      32      37
d, jackson, 1831            26      34        19      12      10
d, jackson, 1832            36      34        14      12      20
d, jackson, 1833            43      53        24      44       8
d, jackson, 1834            74      65        52      54      21
d, jackson, 1835            69      49        50      45      22
d, jackson, 1836            57      57        29      29      30
d, van buren, 1837          71      60        29      30      14
d, van buren, 1838          64      74        31      60      17

##### ii. Bernoulli Model Naive Bayes

In [348]:
from sklearn.naive_bayes import BernoulliNB

partyResults = []
for i in trainIndex:
    partyResults.append(party[i])
    
clf = BernoulliNB()
clf.fit(df.iloc[:178], partyResults)

prediction = clf.predict_proba(df.iloc[178:183])

predictionDF = pd.DataFrame(prediction, columns=["P(C=Dems|X)", "P(C=Reb|X)"],
                               index = [speechData[i] for i in testIndex])

predictionDF.round(decimals = 2)

                  P(C=Dems|X)  P(C=Reb|X)
d, kennedy, 1962          1.0         0.0
d, clinton, 1995          1.0         0.0
r, bush, 2006             1.0         0.0
d, obama, 2014            1.0         0.0
r, trump, 2017            1.0         0.0

##### iii. Multinomial Model Naive Bayes

In [347]:
from sklearn.naive_bayes import MultinomialNB

partyResults = []
for i in trainIndex:
    partyResults.append(party[i])
    
clf = MultinomialNB()
clf.fit(df.iloc[:178], partyResults)

prediction = clf.predict_proba(df.iloc[178:183])

predictionDF = pd.DataFrame(prediction, columns=["P(C=Dems|X)", "P(C=Reb|X)"],
                               index = [speechData[i] for i in testIndex])

predictionDF.round(decimals = 2)

                  P(C=Dems|X)  P(C=Reb|X)
d, kennedy, 1962          1.0         0.0
d, clinton, 1995          1.0         0.0
r, bush, 2006             1.0         0.0
d, obama, 2014            1.0         0.0
r, trump, 2017            1.0         0.0